{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
<h2>Lista de Encomiendas</h2>

<a href="/nueva/" class="btn btn-primary">
<i class="bi bi-plus-circle"></i> Nueva
</a>
</div>

<form method="GET" class="row g-2 mb-4">

<div class="col-md-4">
<select name="estado" class="form-select">
<option value="">Todos los estados</option>
<option value="pendiente">Pendientes</option>
<option value="en_transito">En tránsito</option>
<option value="entregada">Entregadas</option>
<option value="retrasado">Retrasadas</option>
</select>
</div>

<div class="col-md-2">
<button class="btn btn-dark w-100">
<i class="bi bi-funnel"></i> Filtrar
</button>
</div>

</form>

<div class="table-responsive shadow-sm">

<table class="table table-hover align-middle">

<tr>
<th>ID</th>
<th>Código</th>
<th>Remitente</th>
<th>Destinatario</th>
<th>Estado</th>
<th>Acción</th>
</tr>

{% for e in encomiendas %}
<tr>
<td>{{ e.id }}</td>
<td>{{ e.codigo }}</td>
<td>{{ e.remitente }}</td>
<td>{{ e.destinatario }}</td>
<td>{{ e.get_estado_display }}</td>

<td>
<a href="/detalle/{{ e.id }}/" class="btn btn-sm btn-info text-white">
<i class="bi bi-eye"></i>
</a>
</td>

</tr>
{% endfor %}

</table>

</div>

<div class="mt-4">

{% if encomiendas.has_previous %}
<a href="?page=1" class="btn btn-sm btn-outline-dark">Primera</a>

<a href="?page={{ encomiendas.previous_page_number }}" class="btn btn-sm btn-outline-secondary">
Anterior
</a>
{% endif %}

<span class="mx-3 fw-bold">
Página {{ encomiendas.number }} de {{ encomiendas.paginator.num_pages }}
</span>

{% if encomiendas.has_next %}
<a href="?page={{ encomiendas.next_page_number }}" class="btn btn-sm btn-outline-secondary">
Siguiente
</a>
{% endif %}

</div>

{% endblock %}